.mainPage{
    width: 100%;
    height: calc(100vh - 12px);
    background-color: #034b64;
    padding-top: 12px;
}
.projectName{
    font-size: 36px;
    color: burlywood;
    font-weight: bold;
    border-bottom: 1px solid #333;
    margin: 0 0 0 24px;
}